body {
	background-color: #303030;
	font-family: verdana;
}
h1 {
	color: white;
	text-align: center;
	margin: 5px;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 40px;
	font-weight:normal;
}
h2 {
	color: #0099FF;
}
.left{

	width: 50%;
	height: 200px;
	text-align: left;
	float:left;
	margin: 0;

}
.right{

	width: 50%;
	height: 200px;
	text-align: right;
	float:left;
	overflow: hidden;
	margin: 0px;

}
#nav {
	text-align: center;
	white-space: nowrap;
}
#nav ul {
	list-style-type: none;
	word-spacing: 40px;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline;
}
a {
	font-size: .9em;
	color: white;
	text-decoration: none;
}
#homeContent {
	margin-top: 20px;
	color: #B8B8B8;
}
#educationContent, #skillContent, #experienceContent, #experienceContent, #upcomingContent, #contactContent {
	margin-top: 20px;
	color: #B8B8B8;
	display: none;
}
#skillContent ul, #upcomingContent ul {
	list-style-type: none;
}
#educationContent ul, #experienceContent ul{
	margin: 0;
	padding:0;
	list-style-type: none;
}
<h3>{
	font-size: 12px;
}
